﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="AccountDetails.aspx.cs" Inherits="rBKK.WebApplication.Inventory.AccountDetails" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
 <%--<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />--%>
 <script type="text/javascript">
    function DatePicker() {
        $(function () {
            $("#<%=txtAccountOpenDate.ClientID%>").datepicker(
                 {
                     changeMonth: true,
                     changeYear: true,
                     yearRange: "1942:2099",
                     dateFormat: 'dd/mm/yy'
                 });
        });
    }
    function pageLoad() {
        if (Sys.WebForms.PageRequestManager.getInstance().get_isInAsyncPostBack()) {
            DatePicker();
        }
    }
    DatePicker();
</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<div class="MiniPage">
  <asp:UpdatePanel ID="UpdatePanel1" runat="server">
    <ContentTemplate>
      <fieldset class="flView">
            <legend class="lgView"> Account info </legend>
                    <table class="bgdisplay">
                        <tr>
                            <td colspan="3">
                                <asp:HiddenField ID="hfID" runat="server" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:150px">
                                                      <span>Account </span>   </td>
                            <td style="width: 315px">
                                <asp:TextBox ID="txtAccount" runat="server" Width="226px" 
                                    SkinID="normalTextBox"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" 
                                    ControlToValidate="txtAccount" ErrorMessage="*" ForeColor="Red"></asp:RequiredFieldValidator>
                            </td>
                            <td style="width: 13px">
                                                        &nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width:150px">
                               <span>Account Holder </span></td>
                            <td style="width: 315px">
                                <asp:TextBox ID="txtAccountHolder" runat="server" SkinID="normalTextBox" 
                                    Width="226px"></asp:TextBox>
                            </td>
                            <td style="width: 13px">
                                &nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width:150px">
                               <span>Opening Date</span></td>
                            <td style="width: 315px">
                                <asp:TextBox ID="txtAccountOpenDate" runat="server" SkinID="normalTextBox" 
                                    Width="108px"></asp:TextBox>
                                <span class="style1">(DD/MM/YYYY)</span></td>
                            <td style="width: 13px">
                                &nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width:150px">
                               <span> Branch</span></td>
                            <td style="width: 315px">
                                <asp:DropDownList ID="ddlBranch" runat="server" 
                                    SkinID="normalDropDownList" Width="237px">
                                </asp:DropDownList>
                                <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" 
                                    ControlToValidate="ddlBranch" ErrorMessage="*" ForeColor="Red" InitialValue="0"></asp:RequiredFieldValidator>
                            </td>
                            <td style="width: 13px">
                                &nbsp;</td>
                        </tr>
                        <tr>
                            <td align="center" colspan="3">
                                                        &nbsp; &nbsp;
                                                        <asp:Button ID="btnSave" runat="server" CssClass="btnStyle" 
                                                            onclick="btnSave_Click" Text="Save" Width="70px" />
                                                        &nbsp;
                                                        <asp:Button ID="btnReset" runat="server" CausesValidation="False" 
                                                            CssClass="btnStyle" onclick="btnReset_Click" Text="Reset" Width="70px" />
                                                        &nbsp;
                                                    </td>
                        </tr>
                    </table>
                 
           

        </fieldset>
    </ContentTemplate>
    </asp:UpdatePanel>
    </div>
 <div class="Detailpage" style="width:100%" align="center">
 <fieldset class="flDeatialView">
 <legend class="lgView"> Account List</legend>
      <asp:UpdatePanel ID="upDisplay" runat="server">
          <ContentTemplate>
              <asp:GridView ID="gvFactory" runat="server" AutoGenerateColumns="False" 
                  CellPadding="4" ForeColor="#333333" GridLines="None" style="font-size: 9pt" 
                  Width="100%">
                  <HeaderStyle CssClass="dataScheduleHeader" />
                  <AlternatingRowStyle BackColor="White" />
                  <Columns>
                      <asp:TemplateField HeaderText="Account No">
                          <ItemTemplate>
                              <asp:Label ID="lblAccount" runat="server" Text='<%# Bind("ACCOUNT_NO") %>'></asp:Label>
                          </ItemTemplate>
                      </asp:TemplateField>
                      <asp:TemplateField HeaderText="Account Holder">
                          <ItemTemplate>
                              <asp:Label ID="lblAccountHolder" runat="server" Text='<%# Bind("ACCOUNT_HOLDER") %>'></asp:Label>
                          </ItemTemplate>
                      </asp:TemplateField>
                      <asp:TemplateField HeaderText="Opening Date">
                          <ItemTemplate>
                              <asp:Label ID="lblOpenDate"  runat="server" Text='<%# Eval("ACC_OPEN_DATE", "{0:dd/MM/yyyy}") %>'></asp:Label>
                          </ItemTemplate>
                      </asp:TemplateField>
                      <asp:TemplateField HeaderText="Branch ">
                          <ItemTemplate>
                              <asp:Label ID="lblBranch" runat="server" Text='<%# Bind("BRANCH_NAME") %>'></asp:Label>
                              <asp:HiddenField ID="hfBankId" runat="server" 
                                  Value='<%# Bind("BRANCH_ID") %>' />
                          </ItemTemplate>
                      </asp:TemplateField>
                      <asp:TemplateField ShowHeader="False">
                          <ItemTemplate>
                              <asp:ImageButton ID="imgEdit" runat="server" 
                                  ImageUrl="~/App_Themes/Green/Images/Edit.gif" onclick="img_editFactory" 
                                  CausesValidation="False" />
                          </ItemTemplate>
                          <ItemStyle Width="15px" />
                      </asp:TemplateField>
                      <asp:TemplateField ShowHeader="False">
                          <ItemTemplate>
                              <asp:ImageButton ID="imgDelete" runat="server" 
                                  ImageUrl="~/App_Themes/Green/Images/Delete.gif" onclick="imgDelete_Click" 
                                  CausesValidation="False" />
                          </ItemTemplate>
                          <ItemStyle Width="15px" />
                      </asp:TemplateField>
                  </Columns>
                  <EditRowStyle BackColor="#2461BF" />
                  <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                  <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                  <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
                  <RowStyle BackColor="#EFF3FB" />
                  <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
                  <SortedAscendingCellStyle BackColor="#F5F7FB" />
                  <SortedAscendingHeaderStyle BackColor="#6D95E1" />
                  <SortedDescendingCellStyle BackColor="#E9EBEF" />
                  <SortedDescendingHeaderStyle BackColor="#4870BE" />
              </asp:GridView>
          </ContentTemplate>
     </asp:UpdatePanel>
 </fieldset>
</div>
</asp:Content>
