﻿

.loginForm
{
	border: solid 1px #D7D7D7;
	background:#F5F5F5;	
	height: 155px;
	width: 300px;
	margin-left:180px;
	margin-top:180px;
	
}

.loginTitle
{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font: Bold 12px Arial;
	color:Green;
}

.demo
{
   font-size: 80.5%;
   text-align: center;
    width: 286px;
}

table.loginPossition
{
    width:100%;
    padding:0px;
    height: 597px;
}
table.loginTable
{
   width:300px; 
   border:1px solid #CFD0CC;
}

.ddl
{
    width:150px;
    }
    
    
    .btnSave
    {
       width:65px;
      
      
    }
    
    
   div.PageMini
   {
   width:auto;
   height:auto;
   padding:4px,4px,4px,4px;
   }