﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background:#D0D6D2 url(Images/background_main.jpg) repeat top;
    font-size: .80em;
    font-family:Arial;
    margin: 0px;
    padding: 0px;
    color: #696969;
}



a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: Green;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width:1024px;
    background-color: #ffffff;
    margin:4px auto 0px auto;
    border:1px solid #DDE3E6;
}

.loginheader
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:120px;
    background-image:url(Images/login_header.jpg);
}

.siteheader
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:136px;
    background-image:url('Images/login_header.jpg');
    top: 0px;
    left: 0px;
}

.header h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color:#0099FF;
    line-height: 2em;
    font-size: 2em;
    height: 67px;
}

.main
{
     /*   padding: 0px 1px;
    min-height:550px;
    position:relative; */
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    /*background:#DDE3E6;
    background-color:#DDE3E6;
    border:1px solid #DDE3E6;
    background:#D0D6D2 url(Images/background_main.jpg) repeat top;
*/
    color:#009900;
    padding: 2px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    height:50px;
    bottom:10px;
    width:1024px;
    margin:4px auto 0px auto;
}
.footerLogin
{
    background:#DDE3E6;
    color:#009900;
    padding: 2px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    height:69px;
    bottom:10px;
    
    width:1024px;
    margin:4px auto 0px auto;
    border:1px solid #DDE3E6;
}

div.copyright
{
    font-size:8pt;
    float:left;
    width:46%;
    color:#00BB2F;
    text-align: left;
    vertical-align:middle;
    margin-left:5px;
    height: 58px;
}

div.address
{
    font-size:7pt;
    float:right;
    text-align: right;
    color:#00BB2F;
    margin-right:5px;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#CFD0CC;
    width:100%;
    height:30px;
    background-image: url(Images/nav-bg.jpg);
}
div.sitemappath
{
    /*background-color:#CFD0CC;*/
    width:100%;
    height:16px;
    padding-bottom:3px;
   
}

div.menu
{
    padding:0px 0px 0px 0px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #DDE3E6;
    border: 1px #FFF solid;
    color: Green;
    font-weight:bold;
    font-size:8pt;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/


fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
    height: 462px;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 0em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
    width: 172px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width:auto;
    height:90px;
    padding-left:10px;
}

.loginDisplay
{
    font-size: .8em;
    float:right;
    display: block;
    text-align:right;
    width:350px;
    padding:5px;
    color:#FFF;
    height:31px;
}

.loginDisplay a:link
{
    color:#0099FF;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

 /* buttton Style Mostafiz
---------------------------------*/
.legendbordered
{
	
	border: solid 1px 059F04;
	padding:5px;
	margin-left: 1px;
	margin-right: 5px;
	margin-top: 5px;
}



div.ui-datepicker
 {
    width: auto ! important;
   
}

 input.btnSearch
{
border-style:none;
font-family: Arial;
font-size: 14px;
color:#FFFFFF;
background-image:url('Images/Search.jpg');
background-repeat:repeat-x;
cursor: pointer;
min-width: 30px;
min-height: 24px;
vertical-align:middle;
}


input.btnStyle2
{
border-style:none;
font-family: Arial;
font-size: 14px;
color:#FFFFFF;
background-image:url('Images/btnImages.png');
background-repeat:repeat-x;
cursor: pointer;
min-width: 50px;
min-height: 28px;
vertical-align:middle;
}

/*  oDesk button test by han */
.btnStyle {
    background-color: #198D0F ;/* -moz-linear-gradient(center top , #7ADA4A, #62C831 95%, #53BF29) repeat scroll 0 0 #7ADA4A;*/
    border-color: #198D0F;
    border-left: 1px solid #509E19;
    border-right: 1px solid #509E19;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(38, 151, 72, 0.5), 0 1px 0 #198D0F inset;
    color: #FFFFFF;
    min-width: 70px;
    min-height: 28px;
    text-shadow: 0 1px 0 #25A811;
    vertical-align:middle;
    font-size:9pt;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    font-weight:bold;
}
.oBtn {
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
}






span
{
padding-left:10px;
text-transform:capitalize;
font-family: Arial;
font-size:xx-small;

}
table.bgdisplay
{
background:WhiteSmoke;
padding-top:5px;

}



div.PageDetial
{
width:auto;
height:auto;
padding:2px,0px,0px,0px;
margin-top:0px;
margin-left:5px;
}

div.GodownDetial
{
width:750px;
height:auto;
padding:2px,0px,0px,0px;
margin-top:0px;
margin-left:90px;
}

div.MiddlePageDisplay
{
clear:both;
width:auto;
height:auto;
width:800px;
margin-top:0px;
margin-left:50px;
padding:0px;
}




fieldset.flDeatialView
{
padding-top:10px;
width:800px;
height:auto;
}



div.MiniPage
{
width:auto;
height:auto;
padding:2px,2px,0px,2px;
margin-top:10px;
margin-left:220px;

}



div.MiniDisplay
{
clear:both;
height:auto;
width:auto;
margin-top:0px;
margin-left:220px;
padding:2px;
}

fieldset.flViewMiddle
{
    padding-top:10px;
width:100%;
height:auto;
}

fieldset.flView
{
    padding-top:10px;
width:500px;
height:auto;
}

legend.lgView
{
color:#029602;
font-size :9pt;
height: 0px;
width:auto;
text-transform:capitalize
}

.displaySucces
{
color:#029602;
}


/*-------------
Gridview Layout--------------------------*/

tr.dataScheduleHeader th
{
background-color: #048103;
color: #FFFFFF;
font-size:11px;
font-family:Arial;
text-align: Left;
height:13px;
font-weight:bold;
text-transform:capitalize;
}



 /* Navigation bar
---------- Han -----------------
*/
table.NavBar td
{	
	font-family: "Arial";	
	white-space: nowrap;	
	font-size: 9pt;
	color: #8e8d8d;
	vertical-align: baseline;
}

table.NavBar td.Title
{
	font-weight: bold;
	font-size : 8pt;
	color: #CCCCCC;
	letter-spacing: -0.5px;
}

table.NavBar td a
{
 	color: #8e8d8d;
 	text-decoration: none;
}

div.ErrorMsg
{
   padding-top:7px;
}

div.module
{
    float:right
}

.HiddenGridColumn
{
    display:none;
    visibility:hidden;
}
fieldset.GroupObjects
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
    height:auto;
}



/********************************* HR CSS *******************************/
#EmployeeBasicInformation
{
    width: 60%;
    text-align: left;
    vertical-align: top;
    margin-bottom: 0px;
    padding-bottom: 0px;
    float: left;
}

.LargePage textarea
{
    margin-top: 4px;
    vertical-align: top;
}

#EmployeePicture
{
    width: 38%;
    text-align: center;
    vertical-align: top;
    float: right;
}

.EmployeePictureDiv
{
    width: 200px;
    height: 200px;
    margin: 20px 80px;
    border: 2px solid #048103 !important;
    float: right;
}

#EmployeeOtherInformation1
{
    width: 51%;
    text-align: left;
    vertical-align: top;
    float: left;
}

#EmployeeOtherInformation2
{
    width: 48%;
    text-align: left;
    vertical-align: top;
    float: right;
}

.EmployeeLabel1
{
    width: 149px !important;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    padding: 3px;
}

.EmployeeLabel2
{
    width: 122px !important;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    padding: 3px;
}

.EmployeeLabel3
{
    width: 80px !important;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    padding: 3px;
}

.LabelColon
{
    width: 5px !important;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.LargePage table.TopTable
{
    width: 100%;
}
     
.LargePage
{
    width: 100%;
}

.LargePage fieldset
{
    padding: 5px 0px;
    margin: 10px 0px;
    width: 90%;
    height: auto;
}

legend
{
    color: #029602;
    font-size: 1em;
    height: auto;
    width: auto;
    text-align: left;
    text-transform: capitalize;
}

.SmallPage
{
    width: 100%;
}

.SmallPage fieldset
{
    padding: 5px 0px;
    margin: 10px 0px;
    width: 70%;
    height: auto;
}
     
.SmallPage table.TopTable
{
    width: 90%;
}
   
.SaveCancelPanel
{
    text-align: right;
    margin: 15px 0px !important;
    width: 90%;
}

.StyledButton
{
    width: auto;
    height: 2em;
    padding: 0.5px 1em;
    margin: 10px 0px 10px 10px;
    background-image: url('../gradiant-button.png');
    background-repeat: repeat-y;
    cursor: pointer;
    font-weight: bold;
    min-width: 50px;
    min-height: 28px;
    vertical-align: middle;
}
 
.multiLineTextBox
{
    resize: none;
}
       
.noDisplay
{
    display:none;
}

.align-top
{
    vertical-align: top;
}

#spResultOther
{
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
}

.resultSpan
{
    text-transform: lowercase;
    font-size: 0.8em;
    padding: 0px 0px 3px 0px !important;
    margin: 0px 3px 3px 3px !important;
}

.errorMessage
{
    color: Red;
    font-weight: normal !important;
    text-transform: lowercase;
    padding: 0px !important;
}

.errMsg
{
    padding-left: 3px !important;
}

#chkIsPermanent
{
    margin-left: 0px;
}
/********************************* END HR CSS *******************************/

