﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterLogin.Master" AutoEventWireup="true" CodeBehind="Error.aspx.cs" Inherits="rBKK.WebApplication.Error" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<fieldset>
<legend class="lgView">Error Info</legend>
<span style="font-size:16pt; color:Red"> An unexpected error rasied. Please contact to the site administrator.</span>
</fieldset>
</asp:Content>
