﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterLogin.master.cs" Inherits="rBKK.WebApplication.MasterLogin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1" runat="server">
    <title></title>

    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="Form1" runat="server">
     
    <div class="page">
       <div class="loginheader">
            <div class="title">
                <h1></h1>
            </div>
            <%-- 
            <div class="loginDisplay" 
                
                style="background-image: url('/Styles/img/client-login.png'); margin-left: 139px;">
              <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a href="~/Account/Login.aspx" ID="HeadLoginStatus" runat="server">Sign in</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Welcome <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                        [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/"/> ]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            --%>
          <div class="clear hideSkiplink">
          </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
    <div class="clear">
    </div>
    </div>
    <div class="footer">
               <div class="copyright"><br /><br />Copyright &nbsp; &copy;&nbsp;<%= DateTime.Now.Year.ToString() %>&nbsp;&nbsp; RBKK Automatic Rice Mill (Pvt) Ltd. All Rights Reserved.</div>
               <div class="address">
               <p style="margin:0px;"> <strong> RBKK Automatic Rice Mill (Pvt) Ltd.</strong></p>
               <p style="margin: 0px;">House#722 Plot#15 Road#22</p>
               <p style="margin: 0px;">Mohadebpur, Naogaon,Bangladesh</p>
               </div>
    </div>
    </form>
</body>
</html>